b2sdk
python-dotenv
yt-dlp
gallery-dl
apiflask[yaml]
flask-cors
flask-socketio
svix-ksuid
SQLAlchemy
gunicorn
boto3
pytest
voicevox-client
streamlit
watchdog
matplotlib
furigana @ git+https://github.com/MikimotoH/furigana@master
mecab-python3
jaconv
